<header>
  <div id="header-blue-border">
test
  </div>
  <div id="header-wrapper">
    <div class="container">
      <img id="logo" src="assets/img/abibao_logo.png" srcset="assets/img/abibao_logo@2x.png 2x,
            assets/img/abibao_logo@3x.png 3x" alt="" />
      <nav>
        <ul>
          <!-- <li><a href="#">Qui sommes-nous ?</a></li> -->
          <!-- <li><a href="#">Télécharger l'application</a></li> -->
          <li id="signin" ng-hide="isLoggedIn"><a ui-sref="register">S'inscrire</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
