#form-multiple-choice {
  text-align: center;
  width: 100%;
  .choices-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    input[type=text] {
      margin: 10px 1.5%;
      width: 47%;
      padding: 20px;
    }
    .button.choice {
      margin: 10px 1.5%;
      width: 47%;
      padding: 20px;
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
    }
  }
  .button.submit {
    width: 100%;
    max-width: 330px;
  }
}
