#form-multiple-choice{
  text-align: center;
  width: 100%;
  .choices-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    .button.choice{
      margin: 10px 1.5%;
      width: 47%;
      padding: 20px;
    }
  }
  .button.submit{
    width: 100%;
max-width: 330px
  }
}
