<section class="container message-page" id="smf-choice">
  <section class="forms-container" ng-if="loading_in_progress==false">
    <section class="form-wrapper reverse" ng-if="selected_startup==false">
      <header>
        <h1>Impossible de valider votre vote</h1>
        <h2>La startup n'existe pas !</h2>
      </header>
    </section>
    <section class="form-wrapper reverse" ng-if="selected_startup!=false">
      <header>
        <h1>Validez votre vote !</h1>
        <h2>En laissant votre email</h2>
      </header>
      <form-message message="formError.message" close="formError.close"></form-message>
      <div class="form-body">
        <div id="message-page-wrapper">
          <div class="message-page-col-thumb">
            <img width="180" height="180" src="{{selected_startup.media.sizes['featured-thumbnail'].source_url}}" />
          </div>
          <div class="message-page-col">
            <h3 class="message-page-col-title">{{selected_startup.title}}</h3>
            <span class="message-page-col-description" ng-bind-html="selected_startup.content"></span>
          </div>
        </div>
        <br />
        <label class="nota">Nous demandons votre email car un seul vote est autorisé par personne</label>
        <form class="form-text" novalidate>
          <input type="email" placeholder="mon email" />
          <div class="form-next-wrapper">
            <button class="button" type="submit" ga-track-event="['button', 'vote_smf', 'email']"/>Voter</button>
          </div>
        </form>
      </div>
    </section>
  </section>
</section>
