<section class="container message-page" id="email-sended">
  <section class="forms-container">
    <section class="form-wrapper reverse">
      <header>
        <h1>Vous êtes admirable !</h1>
        <h2>C’est avec des gens comme vous que de grandes choses sont possibles.</h2>
      </header>
      <div class="form-body">
        <div id="message-page-wrapper">
          <div class="message-page-col col-1">
            <div class="message-page-col-thumb">
              <img src="assets/img/survey/mail.png" alt="" />
            </div>
            <h3 class="message-page-col-title">Un email vous a été envoyé,<br />pour vous montrer à quel point c’est facile !</h3>
            <p class="message-page-col-description">
              Quand un sondage correspond à vos centres d’intérêts, nous vous alertons par email. Vous n’avez rien à faire, on s’occupe de tout. Pour vérifier que tout fonctionne correctement, nous venons de vous envoyer un message à votre adresse. Cela vous donnera un aperçu de la facilité avec laquelle vous allez pouvoir aider de beaux projets.
            </p>
          </div>
        </div>
      </div>
    </section>
</section>
