<section class="container message-page" id="thank-you">
  <section class="forms-container">
    <section class="form-wrapper reverse">
      <header>
        <h1>Vous voilà membre d'Abibao</h1>
        <h2>Merci ! Le plus dur est fait, mais vous pouvez aller plus loin pour aider votre associations.</h2>
      </header>
      <div class="form-body">
        <div id="message-page-wrapper">
          <div class="message-page-col col-1">
            <div class="message-page-col-thumb">
              <img src="assets/img/survey/recolte.png" alt="" />
            </div>
            <h3 class="message-page-col-title">Encore quelques questions pour la bonne cause</h3>

            <p class="message-page-col-description">
              Savoir si vous aimez le café, si vous avez un jardin ou encore si vous préférez les chats nous permet de convaincre plus facilement les entreprises de diffuser leurs sondages sur Abibao. Plus nous avons d’informations sur vos habitudes, plus vous avez de chances de recevoir des sondages.
PS : Toutes vos réponses restent anonymes. Vous pouvez nous faire confiance.
            </p>
          </div>
        </div>
        <div class="button" ng-click="nextState()">Répondre aux questions</div>
      </div>
    </section>
</section>
