<section class="container message-page" id="thank-you">
  <section class="forms-container">
    <section class="form-wrapper reverse">
      <header>
        <h1>Vous voilà membre d'Abibao</h1>
        <h2>Merci ! Le plus dur est fait, mais vous pouvez aller plus loin pour aider votre association.</h2>
      </header>
      <div class="form-body">
        <div id="message-page-wrapper">
          <div class="message-page-col col-2">
            <div class="message-page-col-thumb">
              <img src="assets/img/survey/precieuse.png" alt="" />
            </div>
            <h3 class="message-page-col-title">Votre inscription est précieuse.
              <br>Vous nous donnez des ailes !
            </h3>
            <p class="message-page-col-description">
              Grâce à votre profil consommateur, vous nous donnez une chance supplémentaire pour convaincre les entreprises d'utiliser Abibao. C'est donc plus d'argent récolté pour les associations grâce à vous. Merci.
            </p>
          </div>
          <div class="message-page-col col-2">
            <div class="message-page-col-thumb">
              <img src="assets/img/survey/add_friends.png" alt="" />
            </div>
            <h3 class="message-page-col-title">Vous êtes formidable.
              <br>Forcément vos amis aussi !
            </h3>
            <p class="message-page-col-description">
              Si vous nous aidez à nous faire connaître sur Facebook, notre croissance deviendra exponentielle. Notre communauté sera alors tellement représentative que les entreprises se battront pour diffuser leurs sondages sur Abibao !
            </p>
          </div>
        </div>
        <a class="button" href="https://www.facebook.com/Abibao-384344205057545" target="_blank">Visitez notre page facebook</a>
        <div class="under-button">Partagez notre page avec le <b>#abibao</b> et vous aurez une petite surprise !</div>
      </div>
    </section>
</section>
