<section class="container message-page">
  <section class="forms-container">
    <section class="form-wrapper reverse">
      <header>
        <h1>Ajouter +3 points de votes</h1>
        <h2>En devenant membre d’Abibao</h2>
      </header>
      <div class="form-body">
        <div id="message-page-wrapper"  style="justify-content: center;">
          <div class="message-page-col-thumb  col-1">
            <img width="180" height="180" src="{{selected_startup.media.sizes['featured-thumbnail'].source_url}}" />
          </div>
          <div class="message-page-col col-1">
            Bravo !<br/>
            +1 pour {{selected_startup.title}}<br/>
            qui totalise {{selected_startup.score}} votes
          </div>
        </div>
        <br/>
        <div id="message-page-wrapper">
          <div class="message-page-col col-1">
              Le saviez-vous ? Ce concours est organisé par Abibao. Nous sommes une communauté de personnes formidables qui acceptent de répondre à des sondages pour générer des microdons à des associations. Rejoignez des milliers de citoyens anonymes qui participent à rendre le monde meilleur.
          </div>
        </div>
        <br/>
        <div id="message-page-wrapper">
          <div class="message-page-col col-1">
            <button class="button" ng-click="registerEmail()" ga-track-event="['button', 'smf_thanks', 'register']">
              +3 en complétant mon profil Abibao
            </button>
          </div>
        </div>
      </div>
    </section>
</section>
