<form id="form-dropdown"
  name="$ctrl.formDropdown"
  novalidate
  ng-submit="$ctrl.submitChoice($ctrl.selected)">
  <select
    ng-options="choice.urn as choice.text for choice in $ctrl.item.choices" ng-class="{default:!$ctrl.selected}"
    ng-model="$ctrl.selected"
    ng-required="true">
    <option ng-if="$ctrl.item.placeholder" value="">{{$ctrl.item.placeholder}}</option>
  </select>
  <button class="button" type="submit" ng-disabled="$ctrl.formDropdown.$invalid"/>Suivant</button>
</form>
