<section class="container message-page" id="thank-you">
  <section class="forms-container">
    <section class="form-wrapper reverse">
      <header>
        <h1>Bravo !</h1>
        <h2>Vous faites partie des gens exceptionnels qui ont complétés tous leurs centres d’intérêts.</h2>
      </header>
      <div class="form-body">
        <div id="message-page-wrapper">
          <div class="message-page-col col-1">
            <div class="message-page-col-thumb">
              <img src="assets/img/survey/thumb_up.png" alt="" />
            </div>
            <h3 class="message-page-col-title">Vous n’avez rien à faire, on s’occupe de tout</h3>
            <p class="message-page-col-description">
              Notre job c’est maintenant de trouver des entreprises pour diffuser des sondages auprès d’un profil comme le vôtre. Dès que l’occasion se présentera, vous recevrez un E-MAIL avec un lien pour répondre directement.
            </p>
          </div>
        </div>
      </div>
    </section>
</section>
